@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap');

:root {
    --pomodoro-1: #bc7c7c;
    --pomodoro-2: #be4242;
    --pomodoro-3: #a73939;
    --pomodoro-4: #882d2d;
    --short-break: #2e9db0;
    --long-break: #2c66a9;
    --accent-1: #fff;
    --accent-2: #eee;
    --accent-3: #ddd;
    --accent-4: #ccc;
}

html, body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: var(--pomodoro-1);
}

body {
    transition: background-color 3s;
    color: var(--accent-1);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.timer-content {
    position: relative;
}

#timer-text {
    position: absolute;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer-text.big {
    font-size: 125px;
}

.hidden {
    display: none;
}

.background-options {
    background-color: var(--pomodoro-1);
}

.background-pomodoro {
    background-color: var(--pomodoro-2);
}

.background-short-break {
    background-color: var(--short-break);
}

.background-long-break {
    background-color: var(--long-break);
}

button {
    border-radius: 5px;
    background-color: var(--accent-1);
    color: var(--pomodoro-2);
    padding: 10px 30px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: text-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 5px 0 var(--accent-2);
    margin: 0 10px;
    font-weight: 700;
    outline: none;
}

button:hover {
    background-color: var(--accent-2);
    box-shadow: 0 5px 0 var(--accent-3);
}

button:active {
    background-color: var(--accent-3);
    box-shadow: 0 5px 0 var(--accent-4);
}

.options-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    text-align: right;
}

.buttons {
    margin-top: 35px;
}

input {
    border-radius: 10px;
    border: 5px var(--pomodoro-2) solid;
    font-size: 30px;
    padding: 5px 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    outline: none;
    box-shadow: 0 5px 0 var(--pomodoro-3);
    transition: border-color, box-shadow 0.3s;
}

input:focus {
    border-color: var(--pomodoro-3);
    box-shadow: 0 5px 0 var(--pomodoro-4);
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    margin: 50px 0;
}

.footer p {
    margin: 0 20px;
}

a {
    color: var(--accent-1);
}

#timer-circle {
    stroke-dasharray: 1414;
    stroke-dashoffset: 1414;
    stroke: var(--accent-1);
    stroke-linecap: round;
    stroke-width: 20px;
    transform: translate(50%, 50%);
    transition: stroke-dashoffset 1s linear;
    animation: 3s circle-shadow infinite;
}

.timer-circle-container {
    transform: rotate(-90deg) scaleY(-1);
}

@media screen and (max-width: 760px) {
    .options-inputs {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    label {
        text-align: left;
        font-size: 0.8em;
    }

    input {
        margin-bottom: 20px;
        font-size: 20px;
        width: 200px;
    }

    #timer-text {
        font-size: 60px;
    }

    #timer-text.big {
        font-size: 80px;
    }

    button {
        font-size: 25px;
    }

    .footer {
        flex-direction: column;
    }

    .timer-circle-container {
        transform: rotate(-90deg) scaleY(-1) scale(0.7, 0.7);
    }
}

@keyframes circle-shadow {
    0%, 100% {
        filter: none;
    }

    50% {
        filter: drop-shadow(0 0 10px var(--pomodoro-1));
    }
}
