@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap');

:root {
    --very-dark-primary: #732525;
    --dark-primary: #8a2727;
    --primary: #b13939;
    --light-primary: #ac5353;
    --accent-1: #FFF;
    --accent-2: #EEE;
    --accent-3: #DDD;
    --accent-4: #CCC;
    --accent-5: #BBB;
    --accent-6: #AAA;

    /*COMPONENTS*/
    --text: var(--accent-1);
    --background-options: var(--light-primary);
    --background-focus: var(--primary);
    --background-short-break: #5799dd;
    --background-long-break: #344fa4;
    --button-background: var(--accent-1);
    --button-text: var(--primary);
    --button-shadow: var(--accent-2);
    --button-hover-background: var(--accent-2);
    --button-hover-shadow: var(--accent-3);
    --button-active-background: var(--accent-3);
    --button-active-shadow: var(--accent-4);
    --input-background: var(--accent-1);
    --input-border: var(--primary);
    --input-shadow: var(--dark-primary);
    --input-focus-border: var(--dark-primary);
    --input-focus-shadow: var(--very-dark-primary);
    --link: var(--text);
    --circle: var(--accent-1);
    --circle-shadow: var(--light-primary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --very-dark-primary: #480f0f;
        --dark-primary: #541313;
        --primary: #692222;
        --light-primary: #703636;

        --text: var(--accent-3);
        --background-focus: var(--dark-primary);
        --background-short-break: #1b4067;
        --background-long-break: #23294f;
        --button-text: var(--light-primary);
        --button-background: var(--accent-3);
        --button-shadow: var(--accent-4);
        --button-hover-background: var(--accent-4);
        --button-hover-shadow: var(--accent-5);
        --button-active-background: var(--accent-5);
        --button-active-shadow: var(--accent-6);
        --input-background: var(--accent-3);
        --input-border: var(--primary);
        --input-shadow: var(--dark-primary);
        --input-focus-border: var(--dark-primary);
        --input-focus-shadow: var(--very-dark-primary);
        --circle: var(--accent-3);
    }
}

html, body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: var(--background-options);
}

body {
    transition: background-color 2s;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.timer-content {
    position: relative;
}

#timer-text {
    position: absolute;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer-text.big {
    font-size: 125px;
}

.hidden {
    display: none;
}

.background-options {
    background-color: var(--background-options);
}

.background-focus {
    background-color: var(--background-focus);
}

.background-short-break {
    background-color: var(--background-short-break);
}

.background-long-break {
    background-color: var(--background-long-break);
}

button {
    border-radius: 5px;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 10px 30px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: text-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 5px 0 var(--button-shadow);
    margin: 0 10px;
    font-weight: 700;
    outline: none;
}

button:hover {
    background-color: var(--button-hover-background);
    box-shadow: 0 5px 0 var(--button-hover-shadow);
}

button:active {
    background-color: var(--button-active-background);
    box-shadow: 0 5px 0 var(--button-active-shadow);
}

.options-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    text-align: right;
}

.buttons {
    margin-top: 35px;
}

input {
    border-radius: 10px;
    border: 5px var(--input-border) solid;
    font-size: 30px;
    padding: 5px 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    outline: none;
    box-shadow: 0 5px 0 var(--input-shadow);
    transition: border-color, box-shadow 0.3s;
    background-color: var(--input-background);
}

input:focus {
    border-color: var(--input-focus-border);
    box-shadow: 0 5px 0 var(--input-focus-shadow);
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    margin: 50px 0;
}

.footer p {
    margin: 0 20px;
}

a {
    color: var(--link);
}

#timer-circle {
    stroke-dasharray: 1414;
    stroke-dashoffset: 1414;
    stroke: var(--circle);
    stroke-linecap: round;
    stroke-width: 20px;
    transform: translate(50%, 50%);
    transition: stroke-dashoffset 1s linear;
    animation: 3s circle-shadow infinite;
}

.timer-circle-container {
    transform: rotate(-90deg) scaleY(-1);
    width: 520px;
    height: 520px;
}

@media screen and (max-width: 760px) {
    .options-inputs {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    label {
        text-align: left;
        font-size: 0.8em;
    }

    input {
        margin-bottom: 20px;
        font-size: 20px;
        width: 200px;
    }

    #timer-text {
        font-size: 60px;
    }

    #timer-text.big {
        font-size: 80px;
    }

    button {
        font-size: 25px;
    }

    .footer {
        flex-direction: column;
    }

    .timer-circle-container {
        transform: rotate(-90deg) scaleY(-1) scale(0.7, 0.7);
    }
}

@keyframes circle-shadow {
    0%, 100% {
        filter: none;
    }

    50% {
        filter: drop-shadow(0 0 10px var(--circle-shadow));
    }
}
